<div id="footer" class="p-1 bg-light">
  <div class="row text-center">
    <div class="col logos">
      <a target="_blank" href="https://www.univ-grenoble-alpes.fr/">
        <img src="assets/img/logo_univ_grenoble_alpes.jpg">
      </a>
      <a target="_blank" href="http://www.cnrs.fr">
        <img src="assets/img/logo_cnrs.png">
      </a>
      <a target="_blank" href="https://demarreshs.hypotheses.org/">
        <img src="assets/img/logo_demarre_shs.jpg">
      </a>
      <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/">
        <img src="assets/img/logo_littarts.png">
      </a>
      <a target="_blank" href="https://www.huma-num.fr/">
        <img src="assets/img/logo_hn.jpg">
      </a>
      <a target="_blank" href="http://www.elan-numerique.fr/">
        <img src="assets/img/logo_elan.png">
      </a>
    </div>
  </div>
</div>
