<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#15aabf">
  <div class="container-fluid" style="padding-top:0px">
    <a class="navbar-brand" href="/index.php?page=home">
      <i class="fas fa-map"></i>
      Carto-Hugo
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="index.php?page=home">
          <i class="fas fa-home"></i> Accueil
        </a>
        <a class="nav-link active" aria-current="page" href="index.php?page=about">
          <i class="fas fa-info-circle"></i> À propos
        </a>
        <a class="nav-link active" aria-current="page" href="index.php?page=edition">
          <i class="fas fa-book"></i> L'édition
        </a>
        <a class="nav-link active" aria-current="page" href="index.php">
          <i class="fas fa-book"></i><i class="fas fa-image"></i> Roman et images
        </a>
	<i class="nav-link">Le site Carto-Hugo est un prototype. Certaines fonctionnalités sont susceptibles d'être modifiées.</i>
      </div>
    </div>
  </div>
</nav>
