:root {
  --blue: #15aabf;
}

h1 {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.highlighted {
  color: var(--blue);
}

*[data-location] {
  text-decoration: underline;
}

#roman {
  max-height: 670px;
  overflow: auto;
}

#modal-current-location {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 150%;
}

#gallery .card {
  break-inside: avoid;
  page-break-inside: avoid;
  display: inline-block;
}

.bgblue {
  background-color: var(--blue);
  color: white;
}

.displayregion {
  border: 2px solid #FF8718 !important;
}

.bgblue:empty {
  background-color: white;
}

g {
  background-color: white;
  overflow: hidden;
  text-overflow: hidden;
  opacity: 0.4;
}

g.overlay {
  border: 1px solid black;
}

g.overlay-active {
  border: 5px solid var(--blue);
  border-radius: 5px;
}

.overlay-legend {
  font-size: 0.5vw;
}

#locations-choice {
  color: white;
  background-color: var(--blue);
  font-weight: bolder;
}

#roman-container.v2 .orig, #roman-container:not(.v2) .ajout, #roman-container:not(.v2) .add {
  display: none;
}

#roman-container.v2 .ajout, #roman-container.v2 .add, #roman-container .orig {
  display: '';
}

p {
    text-align: justify;
}