{% extends "templates/base.html.twig" %}
{% block page_title %}À propos{% endblock %}

{% block body %}
<div id="main-container">
<div class="row">
  <div id="sidebar" class="sidebar col col-2">
    <div class="sidebar-sticky">
    <ul class="nav">
        <li class="nav-item">
            <h5><a class="nav-link" href="#project"><i class="fa fa-home" aria-hidden="true"></i> Le projet</a></h5>
        </li>
        <li class="nav-item">
            <h5><a class="nav-link" href="#team"><i class="fa fa-users" aria-hidden="true"></i> L'équipe</a></h5>
        </li>
        <li class="nav-item">
            <h5><a class="nav-link" href="#website"><i class="fa fa-binoculars" aria-hidden="true"></i> Le site</a></h5>
        </li>
        <li class="nav-item">
            <h5><a class="nav-link" href="#sources"><i class="fa fa-file" aria-hidden="true"></i> Sources</a></h5>
        </li>
    </ul>
    </div>
  </div>
  <div class="col col-8 offset-1">
    {% include 'data/auto/htm/about.htm' %}
  </div>
</div>
</div>
{% endblock %}
