<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/template.css?{{random()}}" rel="stylesheet"/>
    <link href="assets/css/project.css?{{random()}}" rel="stylesheet"/>
    <title>Carto-Hugo - {% block page_title %}Page d'accueil{% endblock %}</title>
  </head>
  <body>
    {% include 'templates/includes/navbar.html.twig' %}
    
    <div class="container-fluid">
      {% block body %}
      {% endblock %}

      {% include 'templates/includes/footer.html.twig' %}
    </div>

    {% block javascript %}
    <script type="text/javascript" src="node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
  </body>
</html>
