{% extends "templates/base.html.twig" %}
{% block page_title %}L'édition{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    {% include 'data/auto/htm/edito.htm' %}
  </div>
</div>
{% endblock %}
