{% extends "templates/base.html.twig" %}
{% block page_title %}À propos{% endblock %}

{% block body %}
<div id="main-container">
<div class="row">
  <div class="col col-8 offset-2">
    {% include 'data/auto/htm/edition.htm' %}
  </div>
</div>
</div>
{% endblock %}
