{% extends "templates/base.html.twig" %}

{% block body %}
<div class="row">
  <div class="col">
    <div class="row pt-1">
      <div class="col text-center">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Lieu</span>
          </div>
          <input list="locations-choices" id="locations-choice" name="locations-choice">
          {% include 'data/auto/htm/locations-choices.htm' %}
          <span class="ms-2" id="btns">
            <span class="btn btn-outline-secondary" data-placement="bottom" id="previous" data-toggle="popover" data-content="Occurrence précédente" data-trigger="hover" data-original-title="" title="">
              <i class="fas fa-chevron-left"></i>
            </span>

            <span id="info-count-location"></span>

            <span class="btn btn-outline-secondary" data-placement="bottom" id="next" data-toggle="popover" data-content="Occurrence suivante" data-trigger="hover" data-original-title="" title="">
              <i class="fas fa-chevron-right"></i>
            </span>
          </span>
          <span class="ms-2">
            <span id="reset" class="btn btn-outline-secondary" data-placement="bottom" data-toggle="popover" data-content="Réinitialiser la sélection" data-trigger="hover" data-original-title="" title="">
              <i class="fas fa-map"></i>
            </span>
          </span>
        </div>

      </div>
      <div class="col">
        <span class="float-end">
          <a id="zoom-out" data-toggle="popover" data-placement="bottom" data-content="Diminuer la taille des images" class="btn btn-outline-secondary" data-trigger="hover" data-original-title="" title="">
            <i class="fas fa-search-minus"></i>
          </a>
          <a id="zoom-in" data-toggle="popover" data-placement="bottom" data-content="Augmenter la taille des images" class="btn btn-outline-secondary" data-trigger="hover" data-original-title="" title="">
            <i class="fas fa-search-plus"></i>
          </a>
        </span>
      </div>
    </div>

    <div class="row mt-2">
      <div id="roman-container" class="col-4">
        <div class="card">
          <div class="card-header">
            Victor Hugo, Les Travailleurs de la mer
            <span class="float-end">
              <a id="switch" href="#" class="btn btn-outline-secondary">version édition originale</a>

              <div class="btn-group">
                <a id="collapse" class="btn btn-outline-secondary" data-placement="top" data-toggle="popover" data-content="Rétrécir la zone de texte" data-trigger="hover" data-original-title="" title="">
                  <i class="fas fa-compress"></i>
                </a>
                <a id="expan" class="btn btn-outline-secondary" data-placement="top" data-toggle="popover" data-content="Étendre la zone de texte" data-trigger="hover" data-original-title="" title="">
                  <i class="fas fa-expand"></i>
                </a>
              </div>
            </span>
          </div>

          {% include 'data/auto/htm/roman.htm' %}

        </div>
      </div>
      <div class="col">
        <div class="row">
          {% include 'data/auto/htm/gallery.htm' %}

          <div id="modal-image" class="modal" tabindex="-1">
            <div class="modal-dialog modal-xl" role="document" style="max-width:80%;width:80%">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">
                    <div class="text-center">
                      <span id="modal-image-title"></span>
                    </div>
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                  <div class="mb-1">
                    <button id="osd-zoom-in" type="button" class="btn btn-light">
                      <i class="fa fa-search-plus"></i>
                    </button>
                    <button id="osd-zoom-out" type="button" class="btn btn-light">
                      <i class="fa fa-search-minus"></i>
                    </button>
                    <button id="osd-home" type="button" class="btn btn-light">
                      <i class="fa fa-home"></i>
                    </button>
                    <button id="osd-full-page" type="button" class="btn btn-light">
                      <i class="fa fa-arrows-alt"></i>
                    </button>
                    <button id="osd-left" type="button" class="btn btn-light">
                      <i class="fa fa-undo"></i>
                    </button>
                    <button id="osd-right" type="button" class="btn btn-light">
                      <i class="fas fa-redo-alt"></i>
                    </button>
                    <a href="#" download="download" id="osd-download" type="button" class="btn btn-light">
                      <i class="fas fa-file-download"></i>
                    </a>
                  </div>
                  <div id="seadragon-viewer" style="width:100%; height:800px;"></div>
                  <div class="bgblue" id="modal-current-location"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="wait-modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body text-center my-4">
                  <i class="fas fa-spinner fa-spin"></i> Redimensionnement en cours...
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}


{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/openseadragon/build/openseadragon/openseadragon.min.js"></script>
<script type="module" src="assets/js/openseadragon-svg-overlay.js"></script>
<script type="module" src="assets/js/index.js?{{random()}}"></script>
<script type="module" src="assets/js/modal-notes.js?{{random()}}"></script>
{% endblock %}
