<style>
            ul.dashed-list {
                list-style-type: none;
            }
            ul.dashed-list li::before {
                content: '\2014';
                position: absolute;
                margin-left: -20px;
            }</style><span class="btn-warning btn-sm" title="Élément non pris en charge par la XSLT.">titleStmt</span><h2 id="website">Site</h2>
Ce site est publié par l'UMR 5316 Litt&amp;Arts dans le cadre du projet Carto-Hugo.
<p>Ce site et l'ensemble des textes qui y sont publiés sont proposés selon les termes
   de
   						la <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">Licence
      							Creative Commons Attribution - Pas d'utilisation commerciale - Partage dans
      les mêmes
      							conditions 4.0 International</a>.</p><h2 id="sources">Sources</h2><ul>
   <li>
      					<i>Les Travailleurs de la mer</i>, Paris, Lacroix et Verboeckhoven, 1866.
      					Victor Hugo
      				</li>
   <li>
      					<i>
         						L’Archipel de la Manche</i>, Paris, Calmann-Lévy, 1883.
      					Victor Hugo
      				</li>
   <li>Les clichés utilisés sur ce site sont pour la plupart issus de Gallica et des collections
      de la BnF. 
      					Les clichés notés MVH proviennent du site Paris Musées et des collections de
      la Maison de Victor Hugo. 
      					Les clichés reproduisant des livres illustrés viennent de collections particulières.</li>
</ul><p>
   <h2>Présentation</h2>
</p><p>L’imagination de Victor Hugo est très largement visuelle : elle s’exprime bien sûr
   au moyen d’images poétiques et romanesques mais aussi à travers les célèbres dessins
   de l’écrivain. Cependant, on sait peut-être moins que cette imagination est aussi
   géométrique et topographique. 
   					L’appréhension de l’espace est chez Victor Hugo un puissant accélérateur de la
   créativité littéraire.
   				</p><p>L’objectif du projet « Cartographies hugoliennes » (Carto-Hugo) est d’étudier, à travers
   les
   					manuscrits de l’écrivain, la façon dont la représentation spatiale et
   					cartographique engendre l’univers littéraire et structure l’imagination
   					romanesque. À titre exploratoire et expérimental, le travail se concentre sur
   un
   					cas particulier, un corpus de brouillons et de dessins ayant conduit, à partir
   					du premier carnet de prise de notes en 1859, à la création du roman d’aventures
   					maritimes <i>Les Travailleurs de la mer</i> en 1866.</p><p>Durant la conception de son roman, Hugo réalise des cartes que l’on pourra découvrir
   sur le site. Il s’attarde sur des lieux qui vont devenir cruciaux pour l’intrigue.
   					En dessinant ses cartes, Hugo sélectionne des sites, construit des points de
   vue qu’il restitue ensuite par le dessin et par l’écriture dans d’autres feuillets.
   Il précise également des décors, inspirés de croquis réalisés sur le motif. Il peut
   aussi matérialiser les trajectoires de ses personnages dans l’espace.
   				</p><p>Actuellement, le prototype du site CartoHugo permet une première approche de ces mécanismes
   génétiques. L’interface présente deux entrées qui offrent des explorations différentes.</p><p>
   <ul>
      <li>Une entrée via le texte du roman, où sont balisées les références et
         							qui permet de visualiser les données cartographiques ainsi que des
         							données génétiques liées à l’espace : croquis, dessins, notes.</li>
      <li>Une seconde entrée est proposée via les cartes, les manuscrits de
         							Victor Hugo et les données iconographiques. Les documents sont traités
         							de manière à isoler des zones cliquables qui correspondent aux
         							références topographiques dans le texte et qui permettent ainsi de voir
         							pour un passage du roman donné les recherches effectuées par
         							l’écrivain.</li>
   </ul>
</p><p>L’objectif est d’apprécier les liens entre espace géographique et espace romanesque
   sans rapporter strictement l’un à l’autre mais pour mesurer au contraire le travail
   créatif de l’écrivain à l’œuvre dans l’espace génétique des manuscrits.</p><p>
   <h2>Principes éditoriaux</h2>
</p><p>Le présent texte est établi : <br><ul>
      <li>pour <i>L’Archipel de la Manche</i>,
         							d’après l’édition originale, Paris, Calmann-Lévy, 1883 ; </li>
      <li>pour <i>Les Travailleurs de la mer</i>, d’après
         							l’édition originale, Paris, Lacroix et Verboeckhoven, 1866. </li>
   </ul>
</p><p>Ce choix est fait pour stabiliser le texte sur une version qui, pour l’édition originale
   des
   						<i>Travailleurs</i>, a été accompagnée par Hugo. Yves Gohin
   					donne parfaitement les arguments en faveur de ce choix dans son édition (<i>Les Travailleurs de la mer</i>, Paris, Gallimard,
   					Bibliothèque de La Pléiade, 1975, p. 1291). Le texte des <i>Travailleurs de la mer</i> a été simultanément publié par Lacroix et
   					Verboeckhoven à Paris et à Bruxelles. Le choix de l’édition de Paris, malgré
   des
   					variantes avec l’édition de Bruxelles, est lié à des raisons d’accessibilité.
   					<br>Pour l’édition de <i>L’Archipel
      							de la Manche</i>, le choix se porte sur une édition qui a
   					du moins été publiée du vivant de Hugo, même si la publication en a été confiée
   					à Paul Meurice. <br><ul>
      <li>Nous suivons alors la disposition des paragraphes, même si la leçon du
         							manuscrit est différente et ne rétablissons pas, ainsi qu’a pu le faire
         							Yves Gohin. </li>
      <li>Lorsqu’elle est adoptée par les éditions originales, nous maintenons
         							également la graphie et l’orthographe d’époque (par exemple les trémas
         							sur poëte, troëne, goëland, l’absence de majuscule aux noms de
         							nationalité, etc.) Le mot « bible » est noté avec une minuscule, employé
         							comme nom commun (au pluriel ou avec un article indéfini). </li>
      <li>Cependant, il a été décidé de ne pas suivre le texte original lorsque
         							ce dernier correspond manifestement, soit à une erreur de Hugo qu’il a
         							souhaité voir corriger, soit à une mauvaise lecture du manuscrit lors de
         							l’édition du texte. Dans ces cas, peu nombreux, une note indique la
         							modification opérée. En revanche, la ponctuation, même si elle s’écarte
         							parfois légèrement du manuscrit, est celle des éditions originales. </li>
      <li>Certains toponymes possèdent une orthographe fluctuante dans les
         							éditions et les manuscrits. </li>
      <li>On retiendra la graphie « Channel Islands », souvent noté « Channel’s
         							Islands » par Hugo. </li>
      <li>« Le Catel » est noté sans accent
         							circonflexe mais Hugo utilise parfois la graphie « Câtel » (dessin du
         							ms. n.a.f. 24745, f° 425 ou addition du f° 21). </li>
      <li>Hugo écrit « Écréhou », graphie que l’on retrouve dans l’édition
         							originale. Il rappelle cependant le radical « Hou » de ces toponymes
         							(voir ms. n.a.f 13460, f°82v et chap. IX « Jersey. Aurigny. Serk » de <i>L’Archipel de la
            								Manche</i>) en adoptant parfois le tiret qui le
         							matérialise. Nous suivons ici Yves Gohin qui uniformise dans ce sens.
         							Ces toponymes seront donc notés « Écré-Hou », « Brecq-Hou », « Li-Hou », « Jet-Hou », etc. De même, « Chausey » est
         							noté « Chousey », sauf mention
         							particulière qui sera indiquée en note. </li>
      <li>« Bourg-d’Ault » apparaît également avec de multiples graphies («
         							Bourdeaux », « Bourgdault ») qui seront précisées en note. </li>
      <li>L’île de Groix est notée « Groie » dans le manuscrit. </li>
      <li>Enfin, le choix de se fonder sur les versions originales du texte
         							publié implique de ne pas intégrer, contrairement à ce qu’ont fait Yves
         							Gohin et les éditeurs modernes, les chapitres additionnels ou les
         							additions portées sur le manuscrit de <i>L’Archipel de la Manche</i> et dont
         							une partie avait été publiée dans le reliquat des <i>Travailleurs de la mer</i> dans l’édition des <i>Œuvres complètes </i>de Victor Hugo (Paris, Ollendorff, Imprimerie
         							nationale, 1901-1952), édition abrégée IN dans les notes. On pourra
         							néanmoins choisir de lire la version avec ces chapitres additionnels en
         							cliquant sur le bouton « Version avec additions ». Pour rétablir la
         							version d'origine, on cliquera sur le bouton « Version originale ».
         						</li>
   </ul><br><br></p><h2>Notes de version</h2><ul>
   <li>16 avril 2022 Modification Header par Delphine Gleizes</li>
</ul>