<p>
   <h2>Principes éditoriaux</h2>
</p><p>Le présent texte est établi : <br></br><ul>
      <li>pour <i>L’Archipel de la Manche</i>,
         							d’après l’édition originale, Paris, Calmann-Lévy, 1883 ; </li>
      <li>pour <i>Les Travailleurs de la mer</i>, d’après
         							l’édition originale, Paris, Lacroix et Verboeckhoven, 1866. </li>
   </ul>
</p><p>Ce choix est fait pour stabiliser le texte sur une version qui, pour l’édition originale
   des
   						<i>Travailleurs</i>, a été accompagnée par Hugo. Yves Gohin
   					donne parfaitement les arguments en faveur de ce choix dans son édition (<i>Les Travailleurs de la mer</i>, Paris, Gallimard,
   					Bibliothèque de La Pléiade, 1975, p. 1291). Le texte des <i>Travailleurs de la mer</i> a été simultanément publié par Lacroix et
   					Verboeckhoven à Paris et à Bruxelles. Le choix de l’édition de Paris, malgré
   des
   					variantes avec l’édition de Bruxelles, est lié à des raisons d’accessibilité.
   					<br></br>Pour l’édition de <i>L’Archipel
      							de la Manche</i>, le choix se porte sur une édition qui a
   					du moins été publiée du vivant de Hugo, même si la publication en a été confiée
   					à Paul Meurice. <br></br><ul>
      <li>Nous suivons alors la disposition des paragraphes, même si la leçon du
         							manuscrit est différente et ne rétablissons pas, ainsi qu’a pu le faire
         							Yves Gohin. </li>
      <li>Lorsqu’elle est adoptée par les éditions originales, nous maintenons
         							également la graphie et l’orthographe d’époque (par exemple les trémas
         							sur poëte, troëne, goëland, l’absence de majuscule aux noms de
         							nationalité, etc.) Le mot « bible » est noté avec une minuscule, employé
         							comme nom commun (au pluriel ou avec un article indéfini). </li>
      <li>Cependant, il a été décidé de ne pas suivre le texte original lorsque
         							ce dernier correspond manifestement, soit à une erreur de Hugo qu’il a
         							souhaité voir corriger, soit à une mauvaise lecture du manuscrit lors de
         							l’édition du texte. Dans ces cas, peu nombreux, une note indique la
         							modification opérée. En revanche, la ponctuation, même si elle s’écarte
         							parfois légèrement du manuscrit, est celle des éditions originales. </li>
      <li>Certains toponymes possèdent une orthographe fluctuante dans les
         							éditions et les manuscrits. </li>
      <li>On retiendra la graphie « Channel Islands », souvent noté « Channel’s
         							Islands » par Hugo. </li>
      <li>« Le Catel » est noté sans accent
         							circonflexe mais Hugo utilise parfois la graphie « Câtel » (dessin du
         							ms. n.a.f. 24745, f° 425 ou addition du f° 21). </li>
      <li>Hugo écrit « Écréhou », graphie que l’on retrouve dans l’édition
         							originale. Il rappelle cependant le radical « Hou » de ces toponymes
         							(voir ms. n.a.f 13460, f°82v et chap. IX « Jersey. Aurigny. Serk » de <i>L’Archipel de la
            								Manche</i>) en adoptant parfois le tiret qui le
         							matérialise. Nous suivons ici Yves Gohin qui uniformise dans ce sens.
         							Ces toponymes seront donc notés « Écré-Hou », « Brecq-Hou », « Li-Hou », « Jet-Hou », etc. De même, « Chausey » est
         							noté « Chousey », sauf mention
         							particulière qui sera indiquée en note. </li>
      <li>« Bourg-d’Ault » apparaît également avec de multiples graphies («
         							Bourdeaux », « Bourgdault ») qui seront précisées en note. </li>
      <li>L’île de Groix est notée « Groie » dans le manuscrit. </li>
      <li>Enfin, le choix de se fonder sur les versions originales du texte
         							publié implique de ne pas intégrer, contrairement à ce qu’ont fait Yves
         							Gohin et les éditeurs modernes, les chapitres additionnels ou les
         							additions portées sur le manuscrit de <i>L’Archipel de la Manche</i> et dont
         							une partie avait été publiée dans le reliquat des <i>Travailleurs de la mer</i> dans l’édition des <i>Œuvres complètes </i>de Victor Hugo (Paris, Ollendorff, Imprimerie
         							nationale, 1901-1952), édition abrégée IN dans les notes. On pourra
         							néanmoins choisir de lire la version avec ces chapitres additionnels en
         							cliquant sur le bouton « Version avec additions ». Pour rétablir la
         							version d'origine, on cliquera sur le bouton « Version originale ».
         						</li>
   </ul><br></br><br></br></p>