<datalist id="locations-choices">
  <option data-location="Trois_Pierres" data-locations="Trois_Pierres" value="Pierres (Trois)">Pierres (Trois)</option>
  <option data-location="Aiguilles_Banc" data-locations="Aiguilles_Banc" value="Aiguilles (Banc des)">Aiguilles (Banc des)</option>
  <option data-location="Aiguilles_Wight" data-locations="Aiguilles_Wight" value="Aiguilles (de Wight)">Aiguilles (de Wight)</option>
  <option data-location="Aiguillons" data-locations="Aiguillons" value="Aiguillons (Les)">Aiguillons (Les)</option>
  <option data-location="Ambleteuse_Baie" data-locations="Ambleteuse_Baie" value="Ambleteuse (Baie d’)">Ambleteuse (Baie d’)</option>
  <option data-location="Ancresse_Dolmen" data-locations="Ancresse_Dolmen" value="Ancresse (dolmen de l’)">Ancresse (dolmen de l’)</option>
  <option data-location="Ancresse" data-locations="Ancresse" value="Ancresse (L’)">Ancresse (L’)</option>
  <option data-location="Anderlo" data-locations="Anderlo Anderlo_Grand Anderlo_Petit Anderlo_Vieux" value="Anderlo">Anderlo</option>
  <option data-location="Anderlo_Grand" data-locations="Anderlo_Grand" value="Anderlo &gt; Anderlo (Grand)">Anderlo &gt; Anderlo (Grand)</option>
  <option data-location="Anderlo_Petit" data-locations="Anderlo_Petit" value="Anderlo &gt; Anderlo (Petit)">Anderlo &gt; Anderlo (Petit)</option>
  <option data-location="Anderlo_Vieux" data-locations="Anderlo_Vieux" value="Anderlo &gt; Anderlo (Vieux)">Anderlo &gt; Anderlo (Vieux)</option>
  <option data-location="Angleterre" data-locations="Angleterre" value="Angleterre">Angleterre</option>
  <option data-location="Angullieres" data-locations="Angullieres" value="Angullières (Les)">Angullières (Les)</option>
  <option data-location="Archipel" data-locations="Archipel" value="Archipel de la Manche">Archipel de la Manche</option>
  <option data-location="Arculons" data-locations="Arculons" value="Arculons (Les)">Arculons (Les)</option>
  <option data-location="Astigarraga" data-locations="Astigarraga" value="Astigarraga">Astigarraga</option>
  <option data-location="Aurigny" data-locations="Aurigny" value="Aurigny">Aurigny</option>
  <option data-location="Azette_Greve" data-locations="Azette_Greve" value="Azette (Grève d’)">Azette (Grève d’)</option>
  <option data-location="Balise" data-locations="Balise B_01 B_02 B_03 B_04 B_05 B_06 B_07 B_08 B_09 B_10 B_11 B_12 B_13 B_14" value="Balise">Balise</option>
  <option data-location="B_01" data-locations="B_01" value="Balise &gt; Balise Le Creux">Balise &gt; Balise Le Creux</option>
  <option data-location="B_02" data-locations="B_02" value="Balise &gt; Balise L’Alligande">Balise &gt; Balise L’Alligande</option>
  <option data-location="B_03" data-locations="B_03" value="Balise &gt; Balise Les Trémies">Balise &gt; Balise Les Trémies</option>
  <option data-location="B_04" data-locations="B_04" value="Balise &gt; Balise La Sardrette">Balise &gt; Balise La Sardrette</option>
  <option data-location="B_05" data-locations="B_05" value="Balise &gt; Balise L’Anfré">Balise &gt; Balise L’Anfré</option>
  <option data-location="B_06" data-locations="B_06" value="Balise &gt; Balise La Rousse">Balise &gt; Balise La Rousse</option>
  <option data-location="B_07" data-locations="B_07" value="Balise &gt; Balise La Corbette">Balise &gt; Balise La Corbette</option>
  <option data-location="B_08" data-locations="B_08" value="Balise &gt; Balise Longue-Pierre">Balise &gt; Balise Longue-Pierre</option>
  <option data-location="B_09" data-locations="B_09" value="Balise &gt; Balise Le Goubeau">Balise &gt; Balise Le Goubeau</option>
  <option data-location="B_10" data-locations="B_10" value="Balise &gt; Balise La Platte">Balise &gt; Balise La Platte</option>
  <option data-location="B_11" data-locations="B_11" value="Balise &gt; Balise Les Barbées">Balise &gt; Balise Les Barbées</option>
  <option data-location="B_12" data-locations="B_12" value="Balise &gt; Balise Le Moulinet">Balise &gt; Balise Le Moulinet</option>
  <option data-location="B_13" data-locations="B_13" value="Balise &gt; Balise Les Plattes Fougères">Balise &gt; Balise Les Plattes Fougères</option>
  <option data-location="B_14" data-locations="B_14" value="Balise &gt; Balise Saint-Sampson">Balise &gt; Balise Saint-Sampson</option>
  <option data-location="Banques_Pointe" data-locations="Banques_Pointe" value="Banques (Pointe des)">Banques (Pointe des)</option>
  <option data-location="Banquetiers" data-locations="Banquetiers" value="Banquetiers (Les)">Banquetiers (Les)</option>
  <option data-location="Barneville" data-locations="Barneville" value="Barneville">Barneville</option>
  <option data-location="Basses_Maisons" data-locations="Basses_Maisons" value="Basses Maisons (Les)">Basses Maisons (Les)</option>
  <option data-location="Beaulieu_Cote" data-locations="Beaulieu_Cote" value="Beaulieu (Côte de)">Beaulieu (Côte de)</option>
  <option data-location="Belgique" data-locations="Belgique" value="Belgique">Belgique</option>
  <option data-location="Bilbao" data-locations="Bilbao" value="Bilbao">Bilbao</option>
  <option data-location="Binic" data-locations="Binic" value="Binic">Binic</option>
  <option data-location="Boisrose_Falaise" data-locations="Boisrose_Falaise" value="Boisrosé (Falaise de)">Boisrosé (Falaise de)</option>
  <option data-location="Bordage_Carrefour" data-locations="Bordage_Carrefour" value="Bordage (Carrefour du)">Bordage (Carrefour du)</option>
  <option data-location="Boue_Blondel" data-locations="Boue_Blondel" value="Boue-Blondel ">Boue-Blondel </option>
  <option data-location="Boue_Corneille" data-locations="Boue_Corneille" value="Boue-Corneille ">Boue-Corneille </option>
  <option data-location="Boue_Jardin" data-locations="Boue_Jardin" value="Boue du Jardin ">Boue du Jardin </option>
  <option data-location="Boue_le_Mouet" data-locations="Boue_le_Mouet" value="Boue le Mouet ">Boue le Mouet </option>
  <option data-location="Boue_Passage" data-locations="Boue_Passage" value="Passage de la Boue (Le)">Passage de la Boue (Le)</option>
  <option data-location="Boues_Fosse" data-locations="Boues_Fosse" value="Boues de la Fosse">Boues de la Fosse</option>
  <option data-location="Boue_South" data-locations="Boue_South" value="South-Boue ">South-Boue </option>
  <option data-location="Boue_Vason" data-locations="Boue_Vason" value="Boue Vason">Boue Vason</option>
  <option data-location="Boulay_Bay" data-locations="Boulay_Bay" value="Boulay-Bay">Boulay-Bay</option>
  <option data-location="Bourdeaux" data-locations="Bourdeaux" value="Bourdeaux (Le)">Bourdeaux (Le)</option>
  <option data-location="Bourg_d_Ault" data-locations="Bourg_d_Ault" value="Bourg-d’Ault">Bourg-d’Ault</option>
  <option data-location="Boutiques_Serk" data-locations="Boutiques_Serk" value="Boutiques (Les)">Boutiques (Les)</option>
  <option data-location="Braye_du_Valle" data-locations="Braye_du_Valle" value="Braye du Valle (La)">Braye du Valle (La)</option>
  <option data-location="Brecqhou" data-locations="Brecqhou" value="Brecqhou ">Brecqhou </option>
  <option data-location="Brehant_Cap" data-locations="Brehant_Cap" value="Cap Bréhant">Cap Bréhant</option>
  <option data-location="Brehat" data-locations="Brehat" value="Bréhat">Bréhat</option>
  <option data-location="Brest" data-locations="Brest" value="Brest">Brest</option>
  <option data-location="Bretagne" data-locations="Bretagne" value="Bretagne">Bretagne</option>
  <option data-location="Briquebec" data-locations="Briquebec" value="Briquebec">Briquebec</option>
  <option data-location="Bu_de_la_rue" data-locations="Bu_de_la_rue" value="Bû de la Rue">Bû de la Rue</option>
  <option data-location="Bur_Hou" data-locations="Bur_Hou" value="Bur-Hou">Bur-Hou</option>
  <option data-location="Calvados_Banc" data-locations="Calvados_Banc" value="Calvados (Banc du)">Calvados (Banc du)</option>
  <option data-location="Calvados" data-locations="Calvados" value="Calvados">Calvados</option>
  <option data-location="Canard" data-locations="Canard" value="Canard (Le) ">Canard (Le) </option>
  <option data-location="Cancale" data-locations="Cancale" value="Cancale ">Cancale </option>
  <option data-location="Carteret" data-locations="Carteret" value="Carteret">Carteret</option>
  <option data-location="Casquets" data-locations="Casquets" value="Casquets (Les)">Casquets (Les)</option>
  <option data-location="Catel" data-locations="Catel" value="Catel (Le)">Catel (Le)</option>
  <option data-location="Catiau_Roque" data-locations="Catiau_Roque" value="Catiau-Roque (La)">Catiau-Roque (La)</option>
  <option data-location="Cat_Rock" data-locations="Cat_Rock" value="Cat-Rock ">Cat-Rock </option>
  <option data-location="Cesambre" data-locations="Cesambre" value="Césambre ">Césambre </option>
  <option data-location="Chaise_Gild_Holm_Ur" data-locations="Chaise_Gild_Holm_Ur" value="Chaise Gild-Holm-‘Ur">Chaise Gild-Holm-‘Ur</option>
  <option data-location="Chaise_Moine" data-locations="Chaise_Moine" value="Chaise-au-Moine (La)">Chaise-au-Moine (La)</option>
  <option data-location="Champ_Fleury" data-locations="Champ_Fleury" value="Champ Fleury">Champ Fleury</option>
  <option data-location="Charente" data-locations="Charente" value="Charente">Charente</option>
  <option data-location="Chemin_SPP_SS" data-locations="Chemin_SPP_SS" value="Chemin de Saint-Pierre-Port à Saint-Sampson">Chemin de Saint-Pierre-Port à Saint-Sampson</option>
  <option data-location="Cherbourg" data-locations="Cherbourg" value="Cherbourg">Cherbourg</option>
  <option data-location="Chevres_Ile" data-locations="Chevres_Ile" value="Chèvres (île aux)">Chèvres (île aux)</option>
  <option data-location="Chouas" data-locations="Chouas" value="Suarde (La) ou Chouas(Les)">Suarde (La) ou Chouas(Les)</option>
  <option data-location="Chousey" data-locations="Chousey" value="Chousey">Chousey</option>
  <option data-location="Clos-Landes" data-locations="Clos-Landes" value="Clos-Landès">Clos-Landès</option>
  <option data-location="Clotures_Route" data-locations="Clotures_Route" value="Clôtures (Route des)">Clôtures (Route des)</option>
  <option data-location="Cobo_Bay" data-locations="Cobo_Bay" value="Cobo-Bay ">Cobo-Bay </option>
  <option data-location="Colette" data-locations="Colette" value="Colette (La)">Colette (La)</option>
  <option data-location="Colombelle" data-locations="Colombelle" value="Colombelle ">Colombelle </option>
  <option data-location="Conchee" data-locations="Conchee" value="Conchée (La)">Conchée (La)</option>
  <option data-location="Corbiere" data-locations="Corbiere" value="Corbière (La)">Corbière (La)</option>
  <option data-location="Corne_Bete" data-locations="Corne_Bete" value="Corne de la Bête (La)">Corne de la Bête (La)</option>
  <option data-location="Cornet_Chateau" data-locations="Cornet_Chateau" value="Cornet (Château)">Cornet (Château)</option>
  <option data-location="Cotillon_Pipet" data-locations="Cotillon_Pipet" value="Cotillon-Pipet (Le) ">Cotillon-Pipet (Le) </option>
  <option data-location="Cour_du_Samedi" data-locations="Cour_du_Samedi" value="Cour du Samedi (Jersey)">Cour du Samedi (Jersey)</option>
  <option data-location="Courseulle" data-locations="Courseulle" value="Courseulle">Courseulle</option>
  <option data-location="Coutances" data-locations="Coutances" value="Coutances">Coutances</option>
  <option data-location="Creux_Maille" data-locations="Creux_Maille" value="Creux-Maillé">Creux-Maillé</option>
  <option data-location="Crevel_Mont_Est" data-locations="Crevel_Mont_Est" value="Mont Crevel de l'Est">Mont Crevel de l'Est</option>
  <option data-location="Crevel_Mont_Ouest" data-locations="Crevel_Mont_Ouest" value="Mont Crevel de l'Ouest">Mont Crevel de l'Ouest</option>
  <option data-location="Crocq-Point" data-locations="Crocq-Point" value="Crocq-Point (Le) ">Crocq-Point (Le) </option>
  <option data-location="Croix_Baillif" data-locations="Croix_Baillif" value="Croix au Baillif">Croix au Baillif</option>
  <option data-location="Cromlech_Jersey" data-locations="Cromlech_Jersey" value="Cromlech (Jersey)">Cromlech (Jersey)</option>
  <option data-location="Cromlech" data-locations="Cromlech" value="Cromlech">Cromlech</option>
  <option data-location="Deree" data-locations="Deree" value="Dérée (La)">Dérée (La)</option>
  <option data-location="Deroute" data-locations="Deroute" value="Déroute (La) ">Déroute (La) </option>
  <option data-location="Deux_Brayes" data-locations="Deux_Brayes Braye_Grande Braye_Petite" value="Deux Brayes (Les) ">Deux Brayes (Les) </option>
  <option data-location="Braye_Grande" data-locations="Braye_Grande" value="Deux Brayes (Les)  &gt; Braye (Grande)">Deux Brayes (Les)  &gt; Braye (Grande)</option>
  <option data-location="Braye_Petite" data-locations="Braye_Petite" value="Deux Brayes (Les)  &gt; Braye (Petite)">Deux Brayes (Les)  &gt; Braye (Petite)</option>
  <option data-location="Dicart_Cap" data-locations="Dicart_Cap" value="Cap Dicart">Cap Dicart</option>
  <option data-location="Dieppe" data-locations="Dieppe" value="Dieppe">Dieppe</option>
  <option data-location="Digoville" data-locations="Digoville" value="Digoville">Digoville</option>
  <option data-location="Dinan" data-locations="Dinan" value="Dinan">Dinan</option>
  <option data-location="Dirouilles" data-locations="Dirouilles" value="Dirouilles (Les)">Dirouilles (Les)</option>
  <option data-location="Dolmen" data-locations="Dolmen" value="Dolmen">Dolmen</option>
  <option data-location="Douvres" data-locations="Douvres" value="Douvres">Douvres</option>
  <option data-location="Doyle_Colonne" data-locations="Doyle_Colonne" value="Colonne Doyle">Colonne Doyle</option>
  <option data-location="Doyle_Point" data-locations="Doyle_Point" value="Doyle Point">Doyle Point</option>
  <option data-location="Doyle_Road" data-locations="Doyle_Road" value="Doyle Road">Doyle Road</option>
  <option data-location="Dunkerque" data-locations="Dunkerque" value="Dunkerque">Dunkerque</option>
  <option data-location="Ecossaise" data-locations="Ecossaise" value="Écossaise (L')">Écossaise (L')</option>
  <option data-location="Ecrehou" data-locations="Ecrehou" value="Ecréhou ">Ecréhou </option>
  <option data-location="Eldad_Chapelle" data-locations="Eldad_Chapelle" value="Eldad (Chapelle)">Eldad (Chapelle)</option>
  <option data-location="Elisabeth_Chateau" data-locations="Elisabeth_Chateau" value="Elisabeth (Château)">Elisabeth (Château)</option>
  <option data-location="Epine" data-locations="Epine" value="Épine (L’)">Épine (L’)</option>
  <option data-location="Equerrier" data-locations="Equerrier" value="Équerrier (L’) ">Équerrier (L’) </option>
  <option data-location="Ermitage" data-locations="Ermitage" value="Ermitage (L’)">Ermitage (L’)</option>
  <option data-location="Espagne" data-locations="Espagne" value="Espagne">Espagne</option>
  <option data-location="Essex_Castle" data-locations="Essex_Castle" value="Essex Castle">Essex Castle</option>
  <option data-location="Etables" data-locations="Etables" value="Etables ">Etables </option>
  <option data-location="Etat" data-locations="Etat Etat-Gros Etat_Petit" value="État">État</option>
  <option data-location="Etat-Gros" data-locations="Etat-Gros" value="État &gt; Gros-État">État &gt; Gros-État</option>
  <option data-location="Etat_Petit" data-locations="Etat_Petit" value="État &gt; Petit-État">État &gt; Petit-État</option>
  <option data-location="Etretat" data-locations="Etretat" value="Etretat">Etretat</option>
  <option data-location="Europe" data-locations="Europe" value="Europe">Europe</option>
  <option data-location="Exeter" data-locations="Exeter" value="Exeter">Exeter</option>
  <option data-location="Fermain_Bay" data-locations="Fermain_Bay" value="Fermain-Bay">Fermain-Bay</option>
  <option data-location="Finistere" data-locations="Finistere" value="Finistère">Finistère</option>
  <option data-location="Flamanville_Cap" data-locations="Flamanville_Cap" value="Flamanville (cap)">Flamanville (cap)</option>
  <option data-location="Flandre" data-locations="Flandre" value="Flandre">Flandre</option>
  <option data-location="Fontenelle_Demie" data-locations="Fontenelle_Demie" value="Fontenelle (La Demie de)">Fontenelle (La Demie de)</option>
  <option data-location="Fontenelle_Pointe" data-locations="Fontenelle_Pointe" value="Fontenelle (Pointe)">Fontenelle (Pointe)</option>
  <option data-location="Foret" data-locations="Foret" value="Forêt (La)">Forêt (La)</option>
  <option data-location="France" data-locations="France" value="France">France</option>
  <option data-location="Frehel" data-locations="Frehel" value="Cap Fréhel">Cap Fréhel</option>
  <option data-location="Frouquie_Passage" data-locations="Frouquie_Passage" value="Frouquie (Passage de la)">Frouquie (Passage de la)</option>
  <option data-location="Fruquiers" data-locations="Fruquiers" value="Fruquiers (Les)">Fruquiers (Les)</option>
  <option data-location="GB" data-locations="GB" value="Grande Bretagne">Grande Bretagne</option>
  <option data-location="George_Fort" data-locations="George_Fort" value="George (Fort)">George (Fort)</option>
  <option data-location="Godaines" data-locations="Godaines" value="Godaines (Les)">Godaines (Les)</option>
  <option data-location="Gorges" data-locations="Gorges" value="Gorges">Gorges</option>
  <option data-location="Gosselin_Havre" data-locations="Gosselin_Havre" value="Gosselin (Havre)">Gosselin (Havre)</option>
  <option data-location="Grand_Etacre" data-locations="Grand_Etacre" value="Grand-Etacré (Le)">Grand-Etacré (Le)</option>
  <option data-location="Grand_Mielles" data-locations="Grand_Mielles" value="Grand Mielles">Grand Mielles</option>
  <option data-location="Grand_Roque" data-locations="Grand_Roque" value="Grand-Roque Point">Grand-Roque Point</option>
  <option data-location="Granville" data-locations="Granville" value="Granville">Granville</option>
  <option data-location="Grand_V" data-locations="Grand_V" value="Grand V">Grand V</option>
  <option data-location="Greenwich" data-locations="Greenwich" value="Greenwich">Greenwich</option>
  <option data-location="Grelets" data-locations="Grelets" value="Grelets (Les)">Grelets (Les)</option>
  <option data-location="Gripe_Rousse" data-locations="Gripe_Rousse" value="Rousse (La Gripe de)">Rousse (La Gripe de)</option>
  <option data-location="Groix" data-locations="Groix" value="Ile de Groie">Ile de Groie</option>
  <option data-location="Gros_Nez" data-locations="Gros_Nez" value="Gros-Nez ">Gros-Nez </option>
  <option data-location="Grune_Pierre" data-locations="Grune_Pierre" value="Grune Pierre">Grune Pierre</option>
  <option data-location="Grunes_Ouest" data-locations="Grunes_Ouest" value="Grunes de l’Ouest (Les)">Grunes de l’Ouest (Les)</option>
  <option data-location="Grunes" data-locations="Grunes" value="Deux Grunes (Les) ">Deux Grunes (Les) </option>
  <option data-location="Grunettes" data-locations="Grunettes" value="Grunettes (Les)">Grunettes (Les)</option>
  <option data-location="Guernesey" data-locations="Guernesey" value="Guernesey">Guernesey</option>
  <option data-location="Hagot" data-locations="Hagot" value="Hagot ">Hagot </option>
  <option data-location="Hamel" data-locations="Hamel" value="Hamel (Le)">Hamel (Le)</option>
  <option data-location="Hanois" data-locations="Hanois Hanois_13_Rochers Hanois_Grand Hanois_Light_Red Hanois_Mauve Hanois_Petit" value="Hanois (Les)">Hanois (Les)</option>
  <option data-location="Hanois_13_Rochers" data-locations="Hanois_13_Rochers" value="Hanois (Les) &gt; 13 Rochers">Hanois (Les) &gt; 13 Rochers</option>
  <option data-location="Hanois_Grand" data-locations="Hanois_Grand" value="Hanois (Les) &gt; Hanois (Le Grand)">Hanois (Les) &gt; Hanois (Le Grand)</option>
  <option data-location="Hanois_Light_Red" data-locations="Hanois_Light_Red" value="Hanois (Les) &gt; Light Red">Hanois (Les) &gt; Light Red</option>
  <option data-location="Hanois_Mauve" data-locations="Hanois_Mauve" value="Hanois (Les) &gt; Mauve (La)">Hanois (Les) &gt; Mauve (La)</option>
  <option data-location="Hanois_Petit" data-locations="Hanois_Petit" value="Hanois (Les) &gt; Hanois (Le Petit)">Hanois (Les) &gt; Hanois (Le Petit)</option>
  <option data-location="Hardent" data-locations="Hardent" value="Hardent (La) ">Hardent (La) </option>
  <option data-location="Harlem" data-locations="Harlem" value="Harlem">Harlem</option>
  <option data-location="Haute_Canee" data-locations="Haute_Canee" value="Haute Canée (La)">Haute Canée (La)</option>
  <option data-location="Hautes_Fourquies" data-locations="Hautes_Fourquies" value="Hautes-Fourquies ">Hautes-Fourquies </option>
  <option data-location="Havelet" data-locations="Havelet" value="Havelet (Le)">Havelet (Le)</option>
  <option data-location="Herm" data-locations="Herm" value="Herm (île d’)">Herm (île d’)</option>
  <option data-location="Hernani" data-locations="Hernani" value="Hernani">Hernani</option>
  <option data-location="Herouee" data-locations="Herouee" value="Hérouée ">Hérouée </option>
  <option data-location="Hollande" data-locations="Hollande" value="Hollande">Hollande</option>
  <option data-location="Hougue_Bye" data-locations="Hougue_Bye" value="Hougue-Bye">Hougue-Bye</option>
  <option data-location="Hougue_Cap" data-locations="Hougue_Cap" value="Hougue (cap de la)">Hougue (cap de la)</option>
  <option data-location="Hougue_des_Pommiers" data-locations="Hougue_des_Pommiers" value="Hougue des Pommiers (La)">Hougue des Pommiers (La)</option>
  <option data-location="Hougue_la_Perre" data-locations="Hougue_la_Perre" value="Hougue la Perre (La)">Hougue la Perre (La)</option>
  <option data-location="Houmet_Benet" data-locations="Houmet_Benet" value="Houmet-Benet">Houmet-Benet</option>
  <option data-location="Houmet_Paradis" data-locations="Houmet_Paradis" value="Houmet-Paradis">Houmet-Paradis</option>
  <option data-location="Houmet" data-locations="Houmet" value="Houmet (Le)">Houmet (Le)</option>
  <option data-location="Houmets" data-locations="Houmets" value="Houmets (Les)">Houmets (Les)</option>
  <option data-location="Hubies_Route" data-locations="Hubies_Route" value="Hubies (route des)">Hubies (route des)</option>
  <option data-location="Huriaux" data-locations="Huriaux" value="Huriaux (Les)">Huriaux (Les)</option>
  <option data-location="Ingouville" data-locations="Ingouville" value="Ingouville">Ingouville</option>
  <option data-location="Irlande" data-locations="Irlande" value="Irlande">Irlande</option>
  <option data-location="Isigny" data-locations="Isigny" value="Isigny">Isigny</option>
  <option data-location="Jennerotte" data-locations="Jennerotte" value="Jennerotte (La)">Jennerotte (La)</option>
  <option data-location="Jerbourg" data-locations="Jerbourg" value="Jerbourg">Jerbourg</option>
  <option data-location="Jersey" data-locations="Jersey" value="Jersey">Jersey</option>
  <option data-location="Jet_Hou" data-locations="Jet_Hou" value="Jet-Hou">Jet-Hou</option>
  <option data-location="La_Rochelle" data-locations="La_Rochelle" value="La Rochelle">La Rochelle</option>
  <option data-location="Lemarchand_Fort" data-locations="Lemarchand_Fort" value="Lemarchand (Fort)">Lemarchand (Fort)</option>
  <option data-location="Leree_Point" data-locations="Leree_Point" value="Lérée-Point ">Lérée-Point </option>
  <option data-location="Lierre_Chateau" data-locations="Lierre_Chateau" value="Lierre (Château de)">Lierre (Château de)</option>
  <option data-location="Li_Hou_Detroit" data-locations="Li_Hou_Detroit" value="Li-Hou (Détroit de)">Li-Hou (Détroit de)</option>
  <option data-location="Li_Houmet" data-locations="Li_Houmet" value="Li-Houmet">Li-Houmet</option>
  <option data-location="Li_Hou" data-locations="Li_Hou" value="Li-Hou ">Li-Hou </option>
  <option data-location="Londres" data-locations="Londres" value="Londres">Londres</option>
  <option data-location="Lorient" data-locations="Lorient" value="Lorient">Lorient</option>
  <option data-location="Maisons" data-locations="Maisons" value="Maisons (Les)">Maisons (Les)</option>
  <option data-location="Maison_visionnee" data-locations="Maison_visionnee" value="Maison visionnée">Maison visionnée</option>
  <option data-location="Maitre_Ile" data-locations="Maitre_Ile" value="Maître-Île (Le)">Maître-Île (Le)</option>
  <option data-location="Manche" data-locations="Manche" value="La Manche">La Manche</option>
  <option data-location="Mare_Pelee" data-locations="Mare_Pelee" value="Mare Pelée (La)">Mare Pelée (La)</option>
  <option data-location="Marquis_Banc" data-locations="Marquis_Banc" value="Banc-Marquis ">Banc-Marquis </option>
  <option data-location="Martello_1" data-locations="Martello_1" value="Martello (Première Tour)">Martello (Première Tour)</option>
  <option data-location="Martello_2" data-locations="Martello_2" value="Martello (Deuxième tour)">Martello (Deuxième tour)</option>
  <option data-location="Martello_6" data-locations="Martello_6" value="Martello 6 ">Martello 6 </option>
  <option data-location="Martello_7" data-locations="Martello_7" value="Martello 7 ">Martello 7 </option>
  <option data-location="Martello" data-locations="Martello" value="Martello (Tour)">Martello (Tour)</option>
  <option data-location="Mauvais_Cheval" data-locations="Mauvais_Cheval" value="Mauvais Cheval (Le) ">Mauvais Cheval (Le) </option>
  <option data-location="Merquel" data-locations="Merquel" value="Merquel (Entrée de)">Merquel (Entrée de)</option>
  <option data-location="Messellettes" data-locations="Messellettes" value="Messellettes (Les)">Messellettes (Les)</option>
  <option data-location="Minquiers" data-locations="Minquiers" value="Minquiers (Les)">Minquiers (Les)</option>
  <option data-location="Moie" data-locations="Moie" value="Moie (La) ou Port au quatrième étage ">Moie (La) ou Port au quatrième étage </option>
  <option data-location="Moines" data-locations="Moines" value="Moines (Les)">Moines (Les)</option>
  <option data-location="Mon_Plaisir" data-locations="Mon_Plaisir" value="Monplaisir (Ferme- Saint-Jacques)">Monplaisir (Ferme- Saint-Jacques)</option>
  <option data-location="Montorgueil" data-locations="Montorgueil" value="Montorgueil">Montorgueil</option>
  <option data-location="Mont_Pendus" data-locations="Mont_Pendus" value="Mont-aux-Pendus">Mont-aux-Pendus</option>
  <option data-location="Mont_Saint_Michel" data-locations="Mont_Saint_Michel" value="Mont-Saint-Michel">Mont-Saint-Michel</option>
  <option data-location="Mortes_Femmes" data-locations="Mortes_Femmes" value="Mortes-Femmes (Les) ">Mortes-Femmes (Les) </option>
  <option data-location="Mouliere" data-locations="Mouliere" value="Moulière (La)">Moulière (La)</option>
  <option data-location="Moulin_Huet" data-locations="Moulin_Huet" value="Moulin Huet">Moulin Huet</option>
  <option data-location="Moulrette" data-locations="Moulrette" value="La Moulrette ">La Moulrette </option>
  <option data-location="Nantes" data-locations="Nantes" value="Nantes">Nantes</option>
  <option data-location="Nipple_Rock" data-locations="Nipple_Rock" value="Nipple Rock">Nipple Rock</option>
  <option data-location="Noirmont" data-locations="Noirmont" value="Noirmont">Noirmont</option>
  <option data-location="Normandie" data-locations="Normandie" value="Normandie">Normandie</option>
  <option data-location="Omptolle" data-locations="Omptolle" value="Omptolle ">Omptolle </option>
  <option data-location="Ortach" data-locations="Ortach" value="Ortach (Rocher)">Ortach (Rocher)</option>
  <option data-location="Ostende" data-locations="Ostende" value="Ostende">Ostende</option>
  <option data-location="Oyarzun" data-locations="Oyarzun" value="Oyarzun">Oyarzun</option>
  <option data-location="Paimpol" data-locations="Paimpol" value="Paimpol">Paimpol</option>
  <option data-location="Paris" data-locations="Paris" value="Paris">Paris</option>
  <option data-location="Pasages" data-locations="Pasages" value="Pasages">Pasages</option>
  <option data-location="Pater_Noster" data-locations="Pater_Noster" value="Pater-Noster ">Pater-Noster </option>
  <option data-location="Pecheresse" data-locations="Pecheresse" value="Pécheresse (La)">Pécheresse (La)</option>
  <option data-location="Pecheries_Bay" data-locations="Pecheries_Bay" value="Pêcheries Bay">Pêcheries Bay</option>
  <option data-location="Percee" data-locations="Percee" value="Percée (La)">Percée (La)</option>
  <option data-location="Perrelle_Bay" data-locations="Perrelle_Bay" value="Perrelle-Bay ">Perrelle-Bay </option>
  <option data-location="Petit_Bo" data-locations="Petit_Bo" value="Petit Bô">Petit Bô</option>
  <option data-location="Pezeris" data-locations="Pezeris" value="Pezeris ">Pezeris </option>
  <option data-location="Pierres_fees" data-locations="Pierres_fees" value="Pierres fées">Pierres fées</option>
  <option data-location="Pier_Road" data-locations="Pier_Road" value="Pier-Road">Pier-Road</option>
  <option data-location="Pinacle" data-locations="Pinacle" value="Pinacle (Le)">Pinacle (Le)</option>
  <option data-location="Pir-Hou" data-locations="Pir-Hou" value="Pir-Hou">Pir-Hou</option>
  <option data-location="Plainmont" data-locations="Plainmont" value="Plainmont">Plainmont</option>
  <option data-location="Plaquiere" data-locations="Plaquiere" value="Plaquière (La)">Plaquière (La)</option>
  <option data-location="Platon" data-locations="Platon" value="Platon (Le)">Platon (Le)</option>
  <option data-location="Plemont_Caves" data-locations="Plemont_Caves" value="Plémont (Caves de)">Plémont (Caves de)</option>
  <option data-location="Plemont" data-locations="Plemont" value="Plémont">Plémont</option>
  <option data-location="Plouha" data-locations="Plouha" value="Plouha ">Plouha </option>
  <option data-location="Pontorson" data-locations="Pontorson" value="Pontorson">Pontorson</option>
  <option data-location="Portbail" data-locations="Portbail" value="Portbail">Portbail</option>
  <option data-location="Port_Enfer" data-locations="Port_Enfer" value="Port-Enfer ">Port-Enfer </option>
  <option data-location="Port_Grat" data-locations="Port_Grat" value="Port-Grat ">Port-Grat </option>
  <option data-location="Portland" data-locations="Portland" value="Portland">Portland</option>
  <option data-location="Portrieux" data-locations="Portrieux" value="Portrieux">Portrieux</option>
  <option data-location="Portsmouth" data-locations="Portsmouth" value="Portsmouth">Portsmouth</option>
  <option data-location="Port_Soif" data-locations="Port_Soif" value="Port-Soif ">Port-Soif </option>
  <option data-location="Preel" data-locations="Preel" value="Préel (Bas-fonds de)">Préel (Bas-fonds de)</option>
  <option data-location="Pyrenees" data-locations="Pyrenees" value="Pyrénées">Pyrénées</option>
  <option data-location="Quenon" data-locations="Quenon" value="Quenon (Roches du)">Quenon (Roches du)</option>
  <option data-location="Quimperle" data-locations="Quimperle" value="Quimperlé">Quimperlé</option>
  <option data-location="Ras_Ile" data-locations="Ras_Ile" value="Ras (île des)">Ras (île des)</option>
  <option data-location="Rats_Ile" data-locations="Rats_Ile" value="Rats (île des)">Rats (île des)</option>
  <option data-location="Rennes" data-locations="Rennes" value="Rennes">Rennes</option>
  <option data-location="Rochefort" data-locations="Rochefort" value="Rochefort">Rochefort</option>
  <option data-location="Rocquaine_Chateau" data-locations="Rocquaine_Chateau" value="Rocquaine (Château)">Rocquaine (Château)</option>
  <option data-location="Rocquaine" data-locations="Rocquaine" value="Rocquaine (La)">Rocquaine (La)</option>
  <option data-location="Ronesse" data-locations="Ronesse" value="Ronesse (La) ">Ronesse (La) </option>
  <option data-location="Roque_au_Diable" data-locations="Roque_au_Diable" value="Roque-au-Diable (La)">Roque-au-Diable (La)</option>
  <option data-location="Roque_Crespel" data-locations="Roque_Crespel" value="Roque Crespel (La)">Roque Crespel (La)</option>
  <option data-location="Roque_Herpin" data-locations="Roque_Herpin" value="Roque Herpin (La)">Roque Herpin (La)</option>
  <option data-location="Roque_Noire" data-locations="Roque_Noire" value="Roque Noire">Roque Noire</option>
  <option data-location="Roque_Nord" data-locations="Roque_Nord" value="Roque-Nord (La)">Roque-Nord (La)</option>
  <option data-location="Roque_qui_chante" data-locations="Roque_qui_chante" value="Roque qui chante (La)">Roque qui chante (La)</option>
  <option data-location="Roque_Ronde" data-locations="Roque_Ronde" value="Roque Ronde (La)">Roque Ronde (La)</option>
  <option data-location="Roque_Rouge" data-locations="Roque_Rouge" value="Roque Rouge (La)">Roque Rouge (La)</option>
  <option data-location="Rouen" data-locations="Rouen" value="Rouen">Rouen</option>
  <option data-location="Rouge_Bouillon" data-locations="Rouge_Bouillon" value="Rouge-Bouillon">Rouge-Bouillon</option>
  <option data-location="Rousse_Mer" data-locations="Rousse_Mer" value="Rousse de Mer (roches de la)">Rousse de Mer (roches de la)</option>
  <option data-location="Rousse" data-locations="Rousse" value="Rousse (La)">Rousse (La)</option>
  <option data-location="Ruau_Grand" data-locations="Ruau_Grand" value="Ruau (Grand)">Ruau (Grand)</option>
  <option data-location="Ruau_Petit" data-locations="Ruau_Petit" value="Ruau (Petit)">Ruau (Petit)</option>
  <option data-location="Sablonneuse" data-locations="Sablonneuse" value="Sablonneuse (La) ">Sablonneuse (La) </option>
  <option data-location="Saint_Andre" data-locations="Saint_Andre" value="Saint-André (échelle)">Saint-André (échelle)</option>
  <option data-location="Saint_Asaph" data-locations="Saint_Asaph" value="Saint-Asaph">Saint-Asaph</option>
  <option data-location="Saint_Aubin" data-locations="Saint_Aubin" value="Saint-Aubin">Saint-Aubin</option>
  <option data-location="Saint_Brelade" data-locations="Saint_Brelade Saint_Brelade_Eglise" value="Saint-Brelade ">Saint-Brelade </option>
  <option data-location="Saint_Brelade_Eglise" data-locations="Saint_Brelade_Eglise" value="Saint-Brelade  &gt; Saint-Brelade (église)">Saint-Brelade  &gt; Saint-Brelade (église)</option>
  <option data-location="Saint-Brieuc" data-locations="Saint-Brieuc" value="Saint-Brieuc">Saint-Brieuc</option>
  <option data-location="Saint_Clement" data-locations="Saint_Clement" value="Saint-Clément">Saint-Clément</option>
  <option data-location="Saint_Enogat" data-locations="Saint_Enogat" value="Saint-Énogat">Saint-Énogat</option>
  <option data-location="Saint_Georges_Fontaine" data-locations="Saint_Georges_Fontaine" value="Saint-Georges (Fontaine)">Saint-Georges (Fontaine)</option>
  <option data-location="Saint_Helier" data-locations="Saint_Helier" value="Saint-Hélier">Saint-Hélier</option>
  <option data-location="Saint_Jacques" data-locations="Saint_Jacques" value="Saint-Jacques (Ferme Monplaisir)">Saint-Jacques (Ferme Monplaisir)</option>
  <option data-location="Saint_Lunaire" data-locations="Saint_Lunaire" value="Saint-Lunaire">Saint-Lunaire</option>
  <option data-location="Saint_Malo" data-locations="Saint_Malo Bey_Petit Saint_Vincent_Porte Saint_Vincent_Rue Auberge_Jean Coutanchez_Ruelle Decolle_Pointe Dinan_Porte Jacressarde Talard_Grand Talard_Petit" value="Saint-Malo">Saint-Malo</option>
  <option data-location="Bey_Petit" data-locations="Bey_Petit" value="Saint-Malo &gt; Bey (Petit)">Saint-Malo &gt; Bey (Petit)</option>
  <option data-location="Saint_Vincent_Porte" data-locations="Saint_Vincent_Porte" value="Saint-Malo &gt; Saint-Vincent (Porte)">Saint-Malo &gt; Saint-Vincent (Porte)</option>
  <option data-location="Saint_Vincent_Rue" data-locations="Saint_Vincent_Rue" value="Saint-Malo &gt; Saint-Vincent (Rue)">Saint-Malo &gt; Saint-Vincent (Rue)</option>
  <option data-location="Auberge_Jean" data-locations="Auberge_Jean" value="Saint-Malo &gt; Auberge Jean">Saint-Malo &gt; Auberge Jean</option>
  <option data-location="Coutanchez_Ruelle" data-locations="Coutanchez_Ruelle" value="Saint-Malo &gt; Coutanchez (Ruelle)">Saint-Malo &gt; Coutanchez (Ruelle)</option>
  <option data-location="Decolle_Pointe" data-locations="Decolle_Pointe" value="Saint-Malo &gt; Décollé (Pointe du)">Saint-Malo &gt; Décollé (Pointe du)</option>
  <option data-location="Dinan_Porte" data-locations="Dinan_Porte" value="Saint-Malo &gt; Dinan (Porte)">Saint-Malo &gt; Dinan (Porte)</option>
  <option data-location="Jacressarde" data-locations="Jacressarde" value="Saint-Malo &gt; Jacressarde (La)">Saint-Malo &gt; Jacressarde (La)</option>
  <option data-location="Talard_Grand" data-locations="Talard_Grand" value="Saint-Malo &gt; Talard (Grand)">Saint-Malo &gt; Talard (Grand)</option>
  <option data-location="Talard_Petit" data-locations="Talard_Petit" value="Saint-Malo &gt; Talard (Petit) ">Saint-Malo &gt; Talard (Petit) </option>
  <option data-location="Saint_Martin" data-locations="Saint_Martin" value="Saint-Martin">Saint-Martin</option>
  <option data-location="Saint_Ouen" data-locations="Saint_Ouen" value="Saint-Ouen">Saint-Ouen</option>
  <option data-location="Saint_Pierre_du_Bois_Clocher" data-locations="Saint_Pierre_du_Bois_Clocher" value="Saint_Pierre-du-Bois (Clocher)">Saint_Pierre-du-Bois (Clocher)</option>
  <option data-location="Saint_Pierre_du_Bois" data-locations="Saint_Pierre_du_Bois" value="Saint-Pierre-du-Bois ">Saint-Pierre-du-Bois </option>
  <option data-location="Saint_Sampson" data-locations="Saint_Sampson Saint_Sampson_Abreuveurs Saint_Sampson_Bravees Saint_Sampson_Cloche_Port Saint_Sampson_Clocher Saint_Sampson_Eglise Saint_Sampson_Goulet Saint_Sampson_Port Saint_Sampson_Presbytere Saint_Sampson_Quai Saint_Sampson_Route" value="Saint-Sampson">Saint-Sampson</option>
  <option data-location="Saint_Sampson_Abreuveurs" data-locations="Saint_Sampson_Abreuveurs" value="Saint-Sampson &gt; Saint-Sampson (Abreuveurs)">Saint-Sampson &gt; Saint-Sampson (Abreuveurs)</option>
  <option data-location="Saint_Sampson_Bravees" data-locations="Saint_Sampson_Bravees" value="Saint-Sampson &gt; Saint-Sampson (Les Bravées)">Saint-Sampson &gt; Saint-Sampson (Les Bravées)</option>
  <option data-location="Saint_Sampson_Cloche_Port" data-locations="Saint_Sampson_Cloche_Port" value="Saint-Sampson &gt; Saint-Sampson (cloche du Port de)">Saint-Sampson &gt; Saint-Sampson (cloche du Port de)</option>
  <option data-location="Saint_Sampson_Clocher" data-locations="Saint_Sampson_Clocher" value="Saint-Sampson &gt; Saint-Sampson (Clocher (roman couvert de lierre)">Saint-Sampson &gt; Saint-Sampson (Clocher (roman couvert de lierre)</option>
  <option data-location="Saint_Sampson_Eglise" data-locations="Saint_Sampson_Eglise" value="Saint-Sampson &gt; Saint-Sampson (Église de)">Saint-Sampson &gt; Saint-Sampson (Église de)</option>
  <option data-location="Saint_Sampson_Goulet" data-locations="Saint_Sampson_Goulet" value="Saint-Sampson &gt; Saint-Sampson">Saint-Sampson &gt; Saint-Sampson</option>
  <option data-location="Saint_Sampson_Port" data-locations="Saint_Sampson_Port" value="Saint-Sampson &gt; Saint-Sampson (Port de)">Saint-Sampson &gt; Saint-Sampson (Port de)</option>
  <option data-location="Saint_Sampson_Presbytere" data-locations="Saint_Sampson_Presbytere" value="Saint-Sampson &gt; Saint-Sampson (Presbytère)">Saint-Sampson &gt; Saint-Sampson (Presbytère)</option>
  <option data-location="Saint_Sampson_Quai" data-locations="Saint_Sampson_Quai" value="Saint-Sampson &gt; III,II,1-598 quai">Saint-Sampson &gt; III,II,1-598 quai</option>
  <option data-location="Saint_Sampson_Route" data-locations="Saint_Sampson_Route" value="Saint-Sampson &gt; Saint-Sampson (Route de)">Saint-Sampson &gt; Saint-Sampson (Route de)</option>
  <option data-location="Saint_Sauveur" data-locations="Saint_Sauveur" value="Saint-Sauveur">Saint-Sauveur</option>
  <option data-location="Saints_Baie" data-locations="Saints_Baie" value="Saints (Baie des)">Saints (Baie des)</option>
  <option data-location="Saint_Servan" data-locations="Saint_Servan" value="Saint-Servan">Saint-Servan</option>
  <option data-location="Saint_Valery_sur_Somme" data-locations="Saint_Valery_sur_Somme" value="Saint-Valery-sur-Somme">Saint-Valery-sur-Somme</option>
  <option data-location="Saline_Bay" data-locations="Saline_Bay" value="Saline Bay">Saline Bay</option>
  <option data-location="Salterns" data-locations="Salterns" value="Salterns">Salterns</option>
  <option data-location="Sambule" data-locations="Sambule" value="Sambule (La)">Sambule (La)</option>
  <option data-location="Sauts_Roquiers" data-locations="Sauts_Roquiers" value="Sauts Roquiers ">Sauts Roquiers </option>
  <option data-location="Sauvages" data-locations="Sauvages" value="Sauvages (Les)">Sauvages (Les)</option>
  <option data-location="Sergentee" data-locations="Sergentee" value="Sergentée (La)">Sergentée (La)</option>
  <option data-location="Serk" data-locations="Serk" value="Serk">Serk</option>
  <option data-location="Silleuse" data-locations="Silleuse" value="Silleuse (La) ">Silleuse (La) </option>
  <option data-location="Sillon" data-locations="Sillon" value="Pointe du Sillon">Pointe du Sillon</option>
  <option data-location="Sommeilleuse" data-locations="Sommeilleuse" value="Sommeilleuse (La)">Sommeilleuse (La)</option>
  <option data-location="Souffleresse" data-locations="Souffleresse" value="Souffleresse (La)">Souffleresse (La)</option>
  <option data-location="Southampton" data-locations="Southampton" value="Southampton">Southampton</option>
  <option data-location="Saint_Pierre_Port" data-locations="Saint_Pierre_Port Arcades Bordage Castle_Carey Hyvreuse La_Falue SPP_Cimetiere SPP_College_Rue SPP_Eglise SPP_Esplanade SPP_Forges_Rue SPP_Grande_Place SPP_Grand_Rue SPP_Hauteville SPP_Marche SPP_Mill_Street SPP_Palais_Justice SPP_Paroisse SPP_Port SPP_Rohais SPP_Salerie SPP_Vieux_Havre Tour_Victoria" value="Saint-Pierre-Port">Saint-Pierre-Port</option>
  <option data-location="Arcades" data-locations="Arcades" value="Saint-Pierre-Port &gt; Arcades (Bazar les)">Saint-Pierre-Port &gt; Arcades (Bazar les)</option>
  <option data-location="Bordage" data-locations="Bordage" value="Saint-Pierre-Port &gt; Bordage (Le)">Saint-Pierre-Port &gt; Bordage (Le)</option>
  <option data-location="Castle_Carey" data-locations="Castle_Carey" value="Saint-Pierre-Port &gt; Castle Carey">Saint-Pierre-Port &gt; Castle Carey</option>
  <option data-location="Hyvreuse" data-locations="Hyvreuse" value="Saint-Pierre-Port &gt; Hyvreuse (L’)">Saint-Pierre-Port &gt; Hyvreuse (L’)</option>
  <option data-location="La_Falue" data-locations="La_Falue" value="Saint-Pierre-Port &gt; Falue (La)">Saint-Pierre-Port &gt; Falue (La)</option>
  <option data-location="SPP_Cimetiere" data-locations="SPP_Cimetiere" value="Saint-Pierre-Port &gt; Cimetière">Saint-Pierre-Port &gt; Cimetière</option>
  <option data-location="SPP_College_Rue" data-locations="SPP_College_Rue" value="Saint-Pierre-Port &gt; Collège (Rue du)">Saint-Pierre-Port &gt; Collège (Rue du)</option>
  <option data-location="SPP_Eglise" data-locations="SPP_Eglise" value="Saint-Pierre-Port &gt; Église (de Saint-Pierre-Port)">Saint-Pierre-Port &gt; Église (de Saint-Pierre-Port)</option>
  <option data-location="SPP_Esplanade" data-locations="SPP_Esplanade" value="Saint-Pierre-Port &gt; Esplanade (L’)">Saint-Pierre-Port &gt; Esplanade (L’)</option>
  <option data-location="SPP_Forges_Rue" data-locations="SPP_Forges_Rue" value="Saint-Pierre-Port &gt; Forges (Rue des)">Saint-Pierre-Port &gt; Forges (Rue des)</option>
  <option data-location="SPP_Grande_Place" data-locations="SPP_Grande_Place" value="Saint-Pierre-Port &gt; Place (Grande)">Saint-Pierre-Port &gt; Place (Grande)</option>
  <option data-location="SPP_Grand_Rue" data-locations="SPP_Grand_Rue" value="Saint-Pierre-Port &gt; Grand’Rue">Saint-Pierre-Port &gt; Grand’Rue</option>
  <option data-location="SPP_Hauteville" data-locations="SPP_Hauteville" value="Saint-Pierre-Port &gt; Hauteville">Saint-Pierre-Port &gt; Hauteville</option>
  <option data-location="SPP_Marche" data-locations="SPP_Marche" value="Saint-Pierre-Port &gt; Marché">Saint-Pierre-Port &gt; Marché</option>
  <option data-location="SPP_Mill_Street" data-locations="SPP_Mill_Street" value="Saint-Pierre-Port &gt; Mill Street">Saint-Pierre-Port &gt; Mill Street</option>
  <option data-location="SPP_Palais_Justice" data-locations="SPP_Palais_Justice" value="Saint-Pierre-Port &gt; Palais de justice">Saint-Pierre-Port &gt; Palais de justice</option>
  <option data-location="SPP_Paroisse" data-locations="SPP_Paroisse" value="Saint-Pierre-Port &gt; Paroisse (de Saint-Pierre-Port)">Saint-Pierre-Port &gt; Paroisse (de Saint-Pierre-Port)</option>
  <option data-location="SPP_Port" data-locations="SPP_Port" value="Saint-Pierre-Port &gt; Port (de Saint-Pierre-Port)">Saint-Pierre-Port &gt; Port (de Saint-Pierre-Port)</option>
  <option data-location="SPP_Rohais" data-locations="SPP_Rohais" value="Saint-Pierre-Port &gt; Rohais (Les)">Saint-Pierre-Port &gt; Rohais (Les)</option>
  <option data-location="SPP_Salerie" data-locations="SPP_Salerie" value="Saint-Pierre-Port &gt; Salerie (La)">Saint-Pierre-Port &gt; Salerie (La)</option>
  <option data-location="SPP_Vieux_Havre" data-locations="SPP_Vieux_Havre" value="Saint-Pierre-Port &gt; Havre (Vieux)">Saint-Pierre-Port &gt; Havre (Vieux)</option>
  <option data-location="Tour_Victoria" data-locations="Tour_Victoria" value="Saint-Pierre-Port &gt; Tour Victoria">Saint-Pierre-Port &gt; Tour Victoria</option>
  <option data-location="Suzanne" data-locations="Suzanne" value="Suzanne (La)">Suzanne (La)</option>
  <option data-location="Tamise" data-locations="Tamise" value="Tamise">Tamise</option>
  <option data-location="Tancarville" data-locations="Tancarville" value="Tancarville">Tancarville</option>
  <option data-location="Tangroville" data-locations="Tangroville" value="Tangroville">Tangroville</option>
  <option data-location="Tas_Pois_Aval" data-locations="Tas_Pois_Aval" value="Tas de Pois d’Aval (Le)">Tas de Pois d’Aval (Le)</option>
  <option data-location="Tau_Pez_Amont" data-locations="Tau_Pez_Amont" value="Tau de Pez d’Amont (Le)">Tau de Pez d’Amont (Le)</option>
  <option data-location="Thouars" data-locations="Thouars" value="Thouars">Thouars</option>
  <option data-location="Tielles" data-locations="Tielles" value="Tielles (Le) ">Tielles (Le) </option>
  <option data-location="Tor_Bay" data-locations="Tor_Bay" value="Tor Bay">Tor Bay</option>
  <option data-location="Torteval" data-locations="Torteval" value="Torteval">Torteval</option>
  <option data-location="Tour_Eree" data-locations="Tour_Eree" value="Tour Érée">Tour Érée</option>
  <option data-location="Treport" data-locations="Treport" value="Tréport">Tréport</option>
  <option data-location="Trouville" data-locations="Trouville" value="Trouville">Trouville</option>
  <option data-location="Valle_Chateau" data-locations="Valle_Chateau" value="Valle (Château du) ou Michel-Archange (château de)">Valle (Château du) ou Michel-Archange (château de)</option>
  <option data-location="Valle" data-locations="Valle" value="Valle (Le)">Valle (Le)</option>
  <option data-location="Valognes" data-locations="Valognes" value="Valognes">Valognes</option>
  <option data-location="Varclin" data-locations="Varclin" value="Varclin (Forge du)">Varclin (Forge du)</option>
  <option data-location="Vason_Baie" data-locations="Vason_Baie" value="Vason (Baie)">Vason (Baie)</option>
  <option data-location="Vaudue" data-locations="Vaudue" value="Vaudue (Carrière de la)">Vaudue (Carrière de la)</option>
  <option data-location="Videclins_Route" data-locations="Videclins_Route" value="Videclins (Route des)">Videclins (Route des)</option>
  <option data-location="Ville_au_Roi" data-locations="Ville_au_Roi" value="Ville-au-Roi (La)">Ville-au-Roi (La)</option>
  <option data-location="Ville_Baudue" data-locations="Ville_Baudue" value="Ville-Baudue (Carrière de la)">Ville-Baudue (Carrière de la)</option>
  <option data-location="Wales" data-locations="Wales" value="Wales">Wales</option>
  <option data-location="Weymouth" data-locations="Weymouth" value="Weymouth">Weymouth</option>
  <option data-location="Wight" data-locations="Wight" value="Ile de Wight">Ile de Wight</option>
  <option data-location="Winchester" data-locations="Winchester" value="Winchester">Winchester</option>
  <option data-location="Zuydersee" data-locations="Zuydersee" value="Zuydersée">Zuydersée</option>
</datalist>
